.authBody{
    width: 800px; 
    height: 300px; 
    padding: 20px; 
    
    position: relative; 
    margin: auto; 
}

.authBox{
    margin-top: 70px;
    background-color:white;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    height: 700px;
}
.authImage{
    width:400px;
    height:700px;
    padding: 0px;
    
}

.authInputArea{
    padding-top: 80px;
    text-align: center;

}

.authButton{
    width: 230px;
    height: 50px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: large;
    background-color: #0E68FB;
    color:white
}
.authButton:hover{
    border: 1px solid black;
    background-color: #0E68FB;
    color: black;
    
}

.createUserBtn{
    margin-top: 20px;
    background-color: #12DC0C;
    border: 1px solid grey;
    width: 230px;
    height: 50px;
    border-radius: 5px;
    font-size: large;
    
    background-color:"#30C50F";
    color:white;
}

.createUserBtn:hover{
    
    border: 1px solid grey;
    width: 230px;
    height: 50px;
    border-radius: 5px;
    font-size: large;
    color:black;
}